<div id="modalAddMultOutput" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Create multiplexer out</h4>
            </div><!-- /modal-header -->
            <div class="modal-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#addMultOutputSettings" data-toggle="tab">Settings</a></li>
                            <li><a href="#MultOutputCustomSetting" data-toggle="tab">Custom settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="padding-top: 10px;">
                            <div class="tab-pane fade in active" id="addMultOutputSettings">
                                <form id="formAddMultOutput">
                                <div class="form-group">
                                    <label>Multiplexer name</label>
                                    <input class="form-control" name="name" placeholder="Enter multiplexer name" required>
                                </div>
                                <div class="form-group">
                                    <label>Multiplexer type</label>
                                    <select class="form-control" name="type" required>
                                        {% for multiplexer in all_multiplexer_out %}
                                            <option selected>{{ multiplexer }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Bulletin level</label>
                                    <select class="form-control" name="bulletin_level" required>
                                        <option selected>NONE</option>
                                    </select>
                                </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="MultOutputCustomSetting">
                                <form id="formAddMultOutputCustom">
                                <div class="form-group">
                                    <label>Multiplexer logic</label>
                                    <select class="form-control" name="multiplex_logic" required>
                                        <option selected>Interleave</option>
                                        <option>Priority</option>
                                    </select>
                                </div>
                                </form>
                            </div>
                        </div>


            </div><!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" confirm="1" class="btn btn-primary" data-formID="formAddMultOutput" data-modalID="modalAddMultOutput">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>
