<div id="modalImportProject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Import project</h4>
            </div><!-- /modal-header -->
            <div class="modal-body">

                <div class="form-group">
                    <form id="importForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                        <label>Project JSON file</label>
                        <input id="uploadFileName" type="file" name="file" accept=".json">
                    </form>
                </div>

            </div><!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="importProject()" data-dismiss="modal">Import</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>
