<!doctype html>
<html>
<head>
    <title>EasyFlow</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- LeafLet -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- jQuery flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">

    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <!-- dataTable -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>

    <!-- socket.io -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <!-- vis.js -->
    <link href="{{ url_for('static', filename='css/vis.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/vis.min.js') }}"></script>

    <link type="text/css" href="{{ url_for('static', filename='css/flow_control/flow_control.css') }}" rel="stylesheet"/>
    <script type="text/javascript">
        /* VARS FROM FLASK*/
        var raw_module_svg = '{{ raw_module_svg|safe }}';
        var raw_buffer_svg = '{{ raw_buffer_svg|safe }}';

        /* URLS */
        var url_save_network = '{{ url_for("save_network") }}';
        var url_load_network = '{{ url_for("load_network") }}';
        var url_get_projects = '{{ url_for("get_projects") }}';
        var url_upload_project = '{{ url_for("upload_file") }}';
        var url_project_operation = '{{ url_for("project_operation") }}';
        var url_flow_operation = '{{ url_for("flow_operation") }}';

        /* GLOBAL VARS */
        var innerRepresentation = null;
        var nodes = null;
        var edges = null;
        var network = null;
        var flowControl = null;
        var projectListDatatable = null;
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/inner_representation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/init.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/projects_control.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/flow_control.js') }}"></script>

</head>

<body onload="draw();">
    <div id="loaderBack" class="loader-background" style="display: none;"><div id="loader" class="loader" style="display: none;"></div></div>
    <div id="network-popUp">
        <span id="operation">node</span> <br>
        <table style="margin:auto;"><tr>
            <td>id</td><td><input id="node-id" value="new value"></td>
        </tr>
        <tr>
            <td>label</td><td><input id="node-label" value="new value"> </td>
        </tr></table>
        <button type="button" value="save" id="saveButton">save</button>
        <button type="button" value="cancel" id="cancelButton">cancel</button>
    </div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header" style="padding-left: 10px; line-height: 50px;">
                <div style="height: 50px; border-right:2px solid #c6c6c6; display: inline-block;">
                    <img src="{{ url_for('static', filename='pics/MISP.png') }}" alt="EasyFlow" style="height: 40px; padding-right: 10px;">
                </div>
                <button type="button" class="btn btn-default" id="load_network" data-toggle="modal" data-target="#modalListProject" onclick="list_projects()" style="margin-left: 10px;"><span class="glyphicon glyphicon-folder-open" style="margin-right: 3px;"></span> Manage projects</button>
                <span id="projectName" style="font-size: x-large; line-height: normal; margin-left: 10px; font-weight: bold;"></span>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span id='selectedNodeName'></span>
                            <span id='selectedNodeID'></span>
                        </div>
                        <div class="panel-body" style="padding: 0px;">
                            <div>
                                <div style="display: inline-block;">
                                <button type="button" class="btn btn-success" style="display: inline-block; margin: 5px;"><span class="glyphicon glyphicon-play"></span></button>
                                <button type="button" class="btn btn-danger" style="display: inline-block; margin: 5px; margin-left: 0px;"><span class="glyphicon glyphicon-stop"></span></button>
                                </div>
                                <div style="display: inline-block; float:right;">
                                <button type="button" class="btn btn-default" style="display: inline-block; margin: 5px;"><span class="glyphicon glyphicon-cog "></span></button>
                                <button type="button" class="btn btn-info" style="display: inline-block; margin: 5px;  margin-left: 0px;"><span class="glyphicon glyphicon-list-alt "></span></button>
                                </div>
                            </div>
                            <table class="table table-striped" style="margin-bottom: 0px;">
                                <tbody>
                                    <tr>
                                        <td class="no_border">Bytes IN/OUT</td>
                                        <td id='selectedByte' class="no_border">12321 bytes / 213 bytes</td>
                                    </tr>
                                    <tr>
                                        <td class="no_border">FlowItem IN/OUT</td>
                                        <td id='selectedFlowItem' class="no_border">143/4</td>
                                    </tr>
                                    <tr>
                                        <td class="no_border">Processing time</td>
                                        <td id='selectedTime' class="no_border">12s</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-sidebar -->
        </nav>

        <div id="modalListProject" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title">Manage projects</h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">

                        <table id="projectList" style="width: 100%;" class="table table-striped table-hover responsive">
                            <thead>
                                <tr>
                                    <th>Project name</th>
                                    <th>Creation date</th>
                                    <th>Number of processes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>

                    </div><!-- /modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div>

        <div id="modalCreateProject" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title">Create a new project</h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Project name</label>
                            <input id="newProjectName" class="form-control" placeholder="Enter text">
                        </div>

                    </div><!-- /modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="createProject()">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div>
        <div id="modalImportProject" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title">Import project</h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">

                        <div class="form-group">
                            <form id="importForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                                <label>Project JSON file</label>
                                <input id="uploadFileName" type="file" name="file" accept=".json">
                            </form>
                        </div>

                    </div><!-- /modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="importProject()" data-dismiss="modal">Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div>

        <!-- Page Content -->
        <div id="networkToolbar">
            <button type="button" class="btn btn-default toolbarBtn" style="margin-right: 50px;" name="pipe"><span style="background:url({{ url_for('static', filename='css/img/icons/pipe.svg') }});"></span></button>
            <button type="button" class="btn btn-default toolbarBtn btnDraggable" name="process"><span style="background:url({{ url_for('static', filename='css/img/icons/process.svg') }});"></span></button>
            <button type="button" class="btn btn-default toolbarBtn btnDraggable" name="remote_input"><span style="background:url({{ url_for('static', filename='css/img/icons/remote_input.svg') }});"></span></button>
            <button type="button" class="btn btn-default toolbarBtn btnDraggable" name="remote_output"><span style="background:url({{ url_for('static', filename='css/img/icons/remote_output.svg') }});"></span></button>
            <button type="button" class="btn btn-default toolbarBtn btnDraggable" name="mult_input"><span style="background:url({{ url_for('static', filename='css/img/icons/mult_input.svg') }});"></span></button>
            <button type="button" class="btn btn-default toolbarBtn btnDraggable" name="mult_output"><span style="background:url({{ url_for('static', filename='css/img/icons/mult_output.svg') }});"></span></button>
        </div>

        <div id="mynetwork"></div>

    </div>

    <p id="selection"></p>
</body>
</html>
