<!doctype html>
<html>
<head>
    <title>EasyFlow</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- LeafLet -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- jQuery flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">

    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <!-- dataTable -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>

    <!-- vis.js -->
    <link href="{{ url_for('static', filename='css/vis.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/vis.min.js') }}"></script>

    <link type="text/css" href="{{ url_for('static', filename='css/flow_control/flow_control.css') }}" rel="stylesheet"/>
    <script type="text/javascript">
        /* VARS */
        var raw_module_svg = '{{ raw_module_svg|safe }}';
        var raw_buffer_svg = '{{ raw_buffer_svg|safe }}';

        /* URLS */
        var url_save_network = '{{ url_for("save_network") }}';
        var url_load_network = '{{ url_for("load_network") }}';
        var url_get_projects = '{{ url_for("get_projects") }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flow_control/flow_control.js') }}"></script>

</head>

<body onload="draw();">
    <div id="network-popUp">
        <span id="operation">node</span> <br>
        <table style="margin:auto;"><tr>
            <td>id</td><td><input id="node-id" value="new value"></td>
        </tr>
        <tr>
            <td>label</td><td><input id="node-label" value="new value"> </td>
        </tr></table>
        <button type="button" value="save" id="saveButton">save</button>
        <button type="button" value="cancel" id="cancelButton">cancel</button>
    </div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header" style="padding-left: 10px; line-height: 50px;">
                <div style="height: 50px; border-right:2px solid #c6c6c6; display: inline-block;">
                    <img src="{{ url_for('static', filename='pics/MISP.png') }}" alt="EasyFlow" style="height: 40px; padding-right: 10px;">
                </div>
                <button type="button" class="btn btn-default" id="load_network" data-toggle="modal" data-target="#modalListProject" onclick="list_projects()" style="margin-left: 10px;"><span class="glyphicon glyphicon-open"></span> Manage projects</button>
                <span id="projectName" style="font-size: x-large; line-height: normal; margin-left: 10px; font-weight: bold;"></span>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Control Panel:
                            <span id='selectedNode'>Select a module</span>
                        </div>
                        <div class="panel-body" style="padding: 0px;">
                            <div>
                                <button type="button" class="btn btn-success" style="display: inline-block; margin: 5px;"><span class="glyphicon glyphicon-play"></span></button>
                                <button type="button" class="btn btn-danger" style="display: inline-block; margin: 5px; margin-left: 0px;"><span class="glyphicon glyphicon-stop"></span></button>
                                <button type="button" class="btn btn-default" style="display: inline-block; margin: 5px; float: right;"><span class="glyphicon glyphicon-cog "></span></button>
                            </div>
                            <table class="table table-striped" style="margin-bottom: 0px;">
                                <tbody>
                                    <tr>
                                        <td class="no_border">Bytes IN/OUT</td>
                                        <td id='selectedByte' class="no_border">12321 bytes / 213 bytes</td>
                                    </tr>
                                    <tr>
                                        <td class="no_border">FlowItem IN/OUT</td>
                                        <td id='selectedFlowItem' class="no_border">143/4</td>
                                    </tr>
                                    <tr>
                                        <td class="no_border">Processing time</td>
                                        <td id='selectedTime' class="no_border">12s</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-sidebar -->
        </nav>

        <div id="modalListProject" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title">Manage projects</h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">

                        <button type="button" class="btn btn-info" id="create_project" data-toggle="modal" data-target="#modalCreate" style="margin: 10px;"><span class="glyphicon glyphicon-plus-sign"></span> Create new project</button>
                        <table id="projectList" style="width: 100%;" class="table table-striped table-hover responsive">
                            <thead>
                                <tr>
                                    <th>Project name</th>
                                    <th>Creation date</th>
                                    <th>Number of processes</th>
                                </tr>
                            </thead>
                        </table>

                    </div><!-- /modal-body -->
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div>

        <!-- Page Content -->
        <div id="mynetwork"></div>

    </div>

    <p id="selection"></p>
</body>
</html>
